<tr class="template">
    <td class="title noselect"><%=name%></td>
    <td class="button_cell">
        <span class="minibutton float_left"><%= _.t('edit')%></span>
        <span class="minibutton float_left"><%= _.t('delete')%></span>
    </td>
</tr>