<tr class="template_row">
    <td class="title noselect"><%=name%></td>
    <td class="button_cell">
        <span id="template_edit" class="minibutton float_left"><%= _.t('edit')%></span>
        <span id="template_delete" class="minibutton float_left"><%= _.t('delete')%></span>
    </td>
</tr>